.beaeaea{border:1px solid #eaeaea;}
.bdccc {border: 1px solid #CCCCCC;}
.redb {border: 1px solid #db4f2e;}
.bggray{background:#9b9b9b !important;}
.bgwhite{background:#fff !important;}
.bgf1f1 {background: #f1f1f1 !important;}
.bb1{border-bottom: 1px solid #ddd;}
.bd1{border-bottom: 1px dashed #DDDDDD;}
.bbright{border-right: 1px solid #ddd;}
.bbleft{border-left: 1px solid #ddd;}


.bbright{border-right: 1px solid #ddd;}
.bbleft{border-left: 1px solid #ddd;}
.play_banner{height: 344px;position:relative;}
.play_banner .member_center_div{width: 1200px;margin: 0 auto;position: relative;}
.member_center_div .member_center{ background-color: #FFF;position: absolute;top:10px;right:0px; width: 220px;padding: 10px 20px;}
.member_center .member_header {width: 100%;height: 60px;margin: 10px 0px;}
.member_center .member_header .header_text{float: left;width:150px;color: #999;}
.member_center .order-stute{width: 100%;margin: 0 auto;}
.member_center .order-stute li{float: left;width: 68px;text-align: center;color: #999;}
.member_center .login-btn {float:left;width: 82px;height: 28px;line-height: 26px;text-align: center;background-color: #75b335;color: #FFF;}
.member_center .login-btn a:hover{color: #FFF; }
.member_center .reg-btn {float:right;width: 80px;height: 26px;line-height: 26px;text-align: center;border: 1px solid #DEDEDE;color: #aaa;}
.member_center .contact-input{background: #F7F7F7;height: 32px;line-height: 32px;margin-top: 10px;border: none;width: 100%;}
.member_center .demand-text{background: #F7F7F7;height: 72px;margin-top: 10px;border: none;width: 100%;}

/*秒杀*/
.member_center{position: absolute;top: -350px;right: 0;width: 240px;}
.index_xs_ms{width:224px;height: 260px;background: url(/images/ms.png)no-repeat;float: left;}
.See_more{width: 126px;height: 34px;line-height: 34px;margin:185px 50px 40px 50px;border: 2px solid #fff;color: #fff; float: left;}
/*秒杀进度*/
.leftPosition{position: absolute;top: 110px;left: 0;z-index: 5;}
.rightPosition{position: absolute;top: 110px;right: 0;z-index: 5;}
.Time_limit_left{width: 20px;height: 40px;background-color: #d9d9d9;opacity: 0.5;display: flex;justify-content: center;align-items: center;}
.Time_limit_left img{width: 10px;height: 15px;}

.Time_limit_action{width:355px;height: 260px;z-index: 1;box-shadow: 0px 2px 6px #dedede;}
.Time_limit_action_top{height:48px;line-height: 48px;}
.Time_limit_action_progress{width: 94px;background: url(/images/index_progress_icon01.png)no-repeat;padding-left: 6px;}
.Time_limit_action_bottom{position: absolute;bottom: 0;height: 40px;line-height: 40px;}
.bottom_time{width: 250px; color: #666;float: left;text-align: center;}
.bottom_btn{width: 105px; float: left;text-align: center;}
/*成交动态*/
.Tran_dynamics{float:left;width: 256px;height: 260px; margin-left: 8px; border-top:4px solid #f94112;box-sizing: border-box;background-color: #fff;}
.Tran_dynamics_list{width:222px;margin-left: 15px;height: 200px;overflow:hidden;}
.Tran_dynamics_list li{height: 50px;overflow: hidden;font-size: 12px;}
.Tran_dynamics_list li h1{color: #333;font-size: 14px;}
.Tran_dynamics_list li:nth-child(odd){background-color: #f4f4f4;}

/*自营报价*/
.Self-support-title{float:left;height:22px;line-height:22px;border-left: 5px solid #75b335; font-size: 22px;padding-left: 12px;}
.Self-support-list{border-top:2px solid #75b335;margin-top: 10px;}
.Self-support-list li:nth-child(even){background-color: #fff;}
.Self-support-list li span{width: 14.2%;float: left;text-align: center;}
.Self-support-list li{height: 60px;line-height: 60px;}
.Self-support-place{width: 70px;height: 28px;line-height: 28px;background-color: #75b335;display: inline-block;color: #fff;border-radius: 3px;box-sizing: border-box;}

.Self-product-list{margin-top: 10px;}
.Self-product-list li span{width: 12.2%;float: left;text-align: center;}
.Self-product-list li{height: 55px;line-height: 55px;background-color: #fff;}
.Self-product-list li:nth-child(odd){background-color: #f4f4f4;}
.Self-product-list li:first-child{height: 40px;line-height: 40px;background-color: #cccccc;}
.P_cart_btn{width: 100px;height: 34px;border: none;border: 1px solid #75b335;background-color: #fff;color: #75b335;border-radius:3px;cursor: pointer;}
.P_cart_btn:hover{background-color: #75b335;color: #fff;}
.trade-close-btn{border: 1px solid #efefef;background: #efefef;color: #656565;border-radius: 3px;padding: 4px 10px;cursor: default;}

.One_service_bg{background-color: #46494b;}
.One_service_icon{width: 48px;margin: 125px auto 45px;}
.One_service_top{z-index: 5; position: relative;}
.One_service{width: 1200px;height:360px;margin: 0 auto;color: #fff;}
.One_service li{float: left;width: 240px;height:360px; position: relative;}
.One_service_blue{width: 240px;height: 360px;background-color: #0095D9;opacity:0;position: absolute;z-index: 1; }
.One_service li:hover .One_service_blue{opacity: 0.6;}
.One_service li.One_service_bg1{background: url(/images/one_service_bg1.jpg)no-repeat;}
.One_service li.One_service_bg2{background: url(/images/one_service_bg2.jpg)no-repeat;}
.One_service li.One_service_bg3{background: url(/images/one_service_bg3.jpg)no-repeat;}
.One_service li.One_service_bg4{background: url(/images/one_service_bg4.jpg)no-repeat;}
.One_service li.One_service_bg5{background: url(/images/one_service_bg5.jpg)no-repeat;}
.One_service_by{width: 100px;margin: 10px auto 90px; text-align: center;}

.supply_list li:first-child{background-color: #EEEEEE;border-bottom:none;}
.supply_list li:last-child{border-bottom:none;}
.supply_list li{overflow:hidden;border-bottom: 1px solid #DEDEDE;background-color: #fff;}
.supply_list li.supply_border_curr{border: 2px solid #75b335;}
.supply_list li span{margin-top:23px;margin-bottom:23px;width: 16.6%;float: left;text-align: center;}
.supply_list_inside li:first-child{background-color: #f4f4f4;border-bottom: 1px solid #fff;}
.supply_list_inside li{overflow:hidden;background-color: #f4f4f4;border-bottom: 1px solid #fff;}
.supply_list_inside li span{margin-top:23px;margin-bottom:23px;width: 14.2%;float: left;text-align: center;}
.supply_list_inside li .ml-20{margin-left: -20px;}
.operation{background: url(/images/traingle.png)no-repeat 117px 7px;}
.supply_list li.supply_border_curr .operation{background: url(/images/traingle.png)no-repeat 117px -9px;}

/*维生素行情*/
.Quotate{width: 483px;margin-left: 10px; float: left;margin-bottom: 15px;}
.Quotate li{float:left;width: 235px;height: 134px;position: relative;margin-top: 10px;overflow: hidden;cursor: pointer;}
.Quotate li:nth-child(even){margin-left: 12px;}
.Quotate_text{width:235px;height: 30px;line-height: 30px;background-color: rgba(71,72,70,0.6);padding-left:10px;color:#fff;position: absolute;bottom: -30px;box-sizing: border-box;}
.Quotate_right{float: left;width: 668px;height:273px;overflow:hidden;margin-left: 10px;margin-bottom: 10px;color: #666;margin-top: 10px;}
.Quotate_right li{height: 40px;line-height: 40px; border-bottom: 1px solid #DEDEDE;cursor: pointer;}
.Quotate_right li:last-child{border-bottom: 1px solid #DEDEDE;}
/*合作品牌*/
.Cooperative_brand{width: 1200px; margin-top: 15px;overflow:hidden;box-shadow: 0px 0px 6px #ccc;}
.Cooperative_brand li{box-sizing:border-box;float:left;width: 200px;height: 140px;background-color: #fff;}
.Cooperative_brand li div{width: 200px;height: 140px;display: table-cell;text-align: center;vertical-align: middle;}
